<nav>
    <ul>
        {% for entry in site.data.menu.entries %}
            <li>
                {% if entry.url %}
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                {% else %}
                    {{ entry.title }}
                {% endif %}
                {% if entry.entries %}
                    <ul>
                        {% for subentry in entry.entries %}
                            <li>
                                {% if subentry.url %}
                                    <a href="{{ subentry.url }}">{{ subentry.title }}</a>
                                {% else %}
                                    {{ subentry.title }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
